# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage.txt
coverage.html

# Dependency directories (remove the comment below to include it)
# vendor/


.vscode

.DS_Store

# ignore binary
haystack

benchmark_results*

gosec-report.json

# Scratch directory for testing
scratch/